.swiper {
  width: 100%;
  height: 100%;
}
/* sliders */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #141414;
  height: 90% !important;
}

.slider-captions {
  display: none !important;
}

.img-link:hover .slider-captions {
  display: block !important;
}


.img-link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transition: all 0.3s;
}

.img-link img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 14px;
}

.img-link:hover {
  transform: scale(1.25);
  position: absolute;
  z-index: 2;
  transform-origin: right;
}


/* buttons */
.swiper-slide-active .img-link:hover {
  transform-origin: left;
}

.swiper .swiper-button-next {
  display: none;
  top: 0;
  right: 0;
  height: 100%;

}

.swiper .swiper-button-prev {
  display: none;
  top: 0;
  left: 0;
  height: 100%;
}

.swiper:hover .swiper-button-next {
  display: flex;
}

.swiper:hover .swiper-button-prev {
  display: flex;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: white;
  background-color: rgba(177, 168, 168, 0.3);
}
/* pagination */
.swiper-pagination {
  bottom: 0 !important;
}


