.list-item {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem ;
    transition: all 0.2s;
    position: relative;

    &:hover {
      transform: scale(1.2);
      position: absolute;
      z-index: 1;
    }
  }
}
