.gradient {
    background-color: transparent;
    background-image: linear-gradient(180deg,hsla(0,0%,8%,0) 0,hsla(0,0%,8%,.15) 15%,hsla(0,0%,8%,.35) 29%,hsla(0,0%,8%,.58) 44%,#141414 68%,#141414);
    background-position: 0 top;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    bottom: -1px;
    height: 14.7vw;
    opacity: 1;
    top: auto;
    width: 100%;
    position: absolute;
}

.info {
    position: absolute;
    width: 30% !important;
    left: 4%;
    height: 25vh;
    background-color: transparent;
    top: 30%;

}

.grid-item {

    align-items: center;
    text-align: center;
    h3 {
        margin: 0;
    }
    h4 {
        margin: 0;
    }
}